In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv('Bank_Data.csv', delimiter=',')
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 11589 rows and 12 columns

In [16]:
df1.head()

,ATM_Name,Transaction_Date,No_Of_Withdrawals,No_Of_XYZ_Card_Withdrawals,No_Of_Other_Card_Withdrawals,Total_amount_Withdrawn,Amount_withdrawn_XYZ_Card,Amount_withdrawn_Other_Card,Weekday,Festival_Religion,Working_Day,Holiday_Sequence
0,Big Street ATM,1/1/2011,50,20,30,123800,41700,82100,Saturday,H,H,WHH
1,Mount Road ATM,1/1/2011,253,67,186,767900,270900,497000,Saturday,C,H,WHH
2,Airport ATM,1/1/2011,98,56,42,503400,347700,155700,Saturday,C,H,WHH
3,KK Nagar ATM,1/1/2011,265,159,106,945300,532600,412700,Saturday,C,H,WHH
4,Christ College ATM,1/1/2011,74,25,49,287700,148200,139500,Saturday,C,H,WHH

In [11]:
ll = ['ATM Name', 'Transaction Date', 'No Of Withdrawals',
       'No Of XYZ Card Withdrawals', 'No Of Other Card Withdrawals',
       'Total amount Withdrawn', 'Amount withdrawn XYZ Card',
       'Amount withdrawn Other Card', 'Weekday', 'Festival Religion',
       'Working Day', 'Holiday Sequence']

In [14]:
nl = []
for item in ll:
    nl.append(item.replace(" ", "_"))
nl

['ATM_Name',
 'Transaction_Date',
 'No_Of_Withdrawals',
 'No_Of_XYZ_Card_Withdrawals',
 'No_Of_Other_Card_Withdrawals',
 'Total_amount_Withdrawn',
 'Amount_withdrawn_XYZ_Card',
 'Amount_withdrawn_Other_Card',
 'Weekday',
 'Festival_Religion',
 'Working_Day',
 'Holiday_Sequence']

In [15]:
df1.columns = nl

In [5]:
df2 = pd.read_csv('atm_transactions.csv', delimiter=',')
nRow, nCol = df2.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 30156 rows and 12 columns

In [17]:
df2.tail()

,atmId,atmName,atmCity,atmAddress,totalBalance,numberIncomeTransaction,numberOutcomeTransaction,totalIncome,totalOutcome,totalNumberTransaction,day,transactionTime
30151,atm35000354,TORBALI ŞUBE-2,Izmir,Tepeköy Mahallesi Ağalar Caddesi No: 10 / A,16665,58,73,4485,4330,131,Tuesday,2020-01-07 23:00:00
30152,atm35000355,URLA İSKELE,Izmir,URLA İSKELE,7925,41,99,2705,5810,140,Tuesday,2020-01-07 23:00:00
30153,atm35000356,URLA MEYDAN AVM ÖNÜ,Izmir,HACİ İSA MAHALLESİ BARATALI BULVARI NO:40/71 A...,25920,92,94,6135,6140,186,Tuesday,2020-01-07 23:00:00
30154,atm35000357,URLA ŞUBE-1,Izmir,Hacı İsa Mahallesi Bülent Baratalı Bulvarı No: 74,30295,68,91,4765,6535,159,Tuesday,2020-01-07 23:00:00
30155,atm35000358,URLA ŞUBE-2,Izmir,Hacı İsa Mahallesi Bülent Baratalı Bulvarı No: 74,11040,80,78,4675,5475,158,Tuesday,2020-01-07 23:00:00

In [19]:
dickv = df2.to_dict('index')

In [32]:
lisv = df1.to_dict('records')

In [35]:
df1.to_csv("atm_data.csv", index=False)

In [33]:
lisv[0:2]

[{'ATM_Name': 'Big Street ATM',
  'Transaction_Date': '1/1/2011',
  'No_Of_Withdrawals': 50,
  'No_Of_XYZ_Card_Withdrawals': 20,
  'No_Of_Other_Card_Withdrawals': 30,
  'Total_amount_Withdrawn': 123800,
  'Amount_withdrawn_XYZ_Card': 41700,
  'Amount_withdrawn_Other_Card': 82100,
  'Weekday': 'Saturday',
  'Festival_Religion': 'H',
  'Working_Day': 'H',
  'Holiday_Sequence': 'WHH'},
 {'ATM_Name': 'Mount Road ATM',
  'Transaction_Date': '1/1/2011',
  'No_Of_Withdrawals': 253,
  'No_Of_XYZ_Card_Withdrawals': 67,
  'No_Of_Other_Card_Withdrawals': 186,
  'Total_amount_Withdrawn': 767900,
  'Amount_withdrawn_XYZ_Card': 270900,
  'Amount_withdrawn_Other_Card': 497000,
  'Weekday': 'Saturday',
  'Festival_Religion': 'C',
  'Working_Day': 'H',
  'Holiday_Sequence': 'WHH'}]

In [37]:
import requests
from kafka import KafkaProducer
from json import dumps
import csv

In [36]:
u = 10
with open("atm_data.csv") as file:
    reader = csv.DictReader(file)
    for row in reader:
        u -=1
        data = dict(row)
        print(data)
        if u ==0:
            break

{'ATM_Name': 'Big Street ATM', 'Transaction_Date': '1/1/2011', 'No_Of_Withdrawals': '50', 'No_Of_XYZ_Card_Withdrawals': '20', 'No_Of_Other_Card_Withdrawals': '30', 'Total_amount_Withdrawn': '123800', 'Amount_withdrawn_XYZ_Card': '41700', 'Amount_withdrawn_Other_Card': '82100', 'Weekday': 'Saturday', 'Festival_Religion': 'H', 'Working_Day': 'H', 'Holiday_Sequence': 'WHH'}
{'ATM_Name': 'Mount Road ATM', 'Transaction_Date': '1/1/2011', 'No_Of_Withdrawals': '253', 'No_Of_XYZ_Card_Withdrawals': '67', 'No_Of_Other_Card_Withdrawals': '186', 'Total_amount_Withdrawn': '767900', 'Amount_withdrawn_XYZ_Card': '270900', 'Amount_withdrawn_Other_Card': '497000', 'Weekday': 'Saturday', 'Festival_Religion': 'C', 'Working_Day': 'H', 'Holiday_Sequence': 'WHH'}
{'ATM_Name': 'Airport ATM', 'Transaction_Date': '1/1/2011', 'No_Of_Withdrawals': '98', 'No_Of_XYZ_Card_Withdrawals': '56', 'No_Of_Other_Card_Withdrawals': '42', 'Total_amount_Withdrawn': '503400', 'Amount_withdrawn_XYZ_Card': '347700', 'Amount_withdrawn_Other_Card': '155700', 'Weekday': 'Saturday', 'Festival_Religion': 'C', 'Working_Day': 'H', 'Holiday_Sequence': 'WHH'}
{'ATM_Name': 'KK Nagar ATM', 'Transaction_Date': '1/1/2011', 'No_Of_Withdrawals': '265', 'No_Of_XYZ_Card_Withdrawals': '159', 'No_Of_Other_Card_Withdrawals': '106', 'Total_amount_Withdrawn': '945300', 'Amount_withdrawn_XYZ_Card': '532600', 'Amount_withdrawn_Other_Card': '412700', 'Weekday': 'Saturday', 'Festival_Religion': 'C', 'Working_Day': 'H', 'Holiday_Sequence': 'WHH'}
{'ATM_Name': 'Christ College ATM', 'Transaction_Date': '1/1/2011', 'No_Of_Withdrawals': '74', 'No_Of_XYZ_Card_Withdrawals': '25', 'No_Of_Other_Card_Withdrawals': '49', 'Total_amount_Withdrawn': '287700', 'Amount_withdrawn_XYZ_Card': '148200', 'Amount_withdrawn_Other_Card': '139500', 'Weekday': 'Saturday', 'Festival_Religion': 'C', 'Working_Day': 'H', 'Holiday_Sequence': 'WHH'}
{'ATM_Name': 'Big Street ATM', 'Transaction_Date': '2/1/2011', 'No_Of_Withdrawals': '17', 'No_Of_XYZ_Card_Withdrawals': '5', 'No_Of_Other_Card_Withdrawals': '12', 'Total_amount_Withdrawn': '52800', 'Amount_withdrawn_XYZ_Card': '20900', 'Amount_withdrawn_Other_Card': '31900', 'Weekday': 'Sunday', 'Festival_Religion': 'NH', 'Working_Day': 'H', 'Holiday_Sequence': 'HHW'}
{'ATM_Name': 'Mount Road ATM', 'Transaction_Date': '2/1/2011', 'No_Of_Withdrawals': '194', 'No_Of_XYZ_Card_Withdrawals': '50', 'No_Of_Other_Card_Withdrawals': '144', 'Total_amount_Withdrawn': '529300', 'Amount_withdrawn_XYZ_Card': '171700', 'Amount_withdrawn_Other_Card': '357600', 'Weekday': 'Sunday', 'Festival_Religion': 'NH', 'Working_Day': 'H', 'Holiday_Sequence': 'HHW'}
{'ATM_Name': 'Airport ATM', 'Transaction_Date': '2/1/2011', 'No_Of_Withdrawals': '67', 'No_Of_XYZ_Card_Withdrawals': '53', 'No_Of_Other_Card_Withdrawals': '14', 'Total_amount_Withdrawn': '268600', 'Amount_withdrawn_XYZ_Card': '213300', 'Amount_withdrawn_Other_Card': '55300', 'Weekday': 'Sunday', 'Festival_Religion': 'NH', 'Working_Day': 'H', 'Holiday_Sequence': 'HHW'}
{'ATM_Name': 'KK Nagar ATM', 'Transaction_Date': '2/1/2011', 'No_Of_Withdrawals': '260', 'No_Of_XYZ_Card_Withdrawals': '155', 'No_Of_Other_Card_Withdrawals': '105', 'Total_amount_Withdrawn': '809400', 'Amount_withdrawn_XYZ_Card': '456200', 'Amount_withdrawn_Other_Card': '353200', 'Weekday': 'Sunday', 'Festival_Religion': 'NH', 'Working_Day': 'H', 'Holiday_Sequence': 'HHW'}
{'ATM_Name': 'Christ College ATM', 'Transaction_Date': '2/1/2011', 'No_Of_Withdrawals': '80', 'No_Of_XYZ_Card_Withdrawals': '24', 'No_Of_Other_Card_Withdrawals': '56', 'Total_amount_Withdrawn': '300000', 'Amount_withdrawn_XYZ_Card': '95600', 'Amount_withdrawn_Other_Card': '204400', 'Weekday': 'Sunday', 'Festival_Religion': 'NH', 'Working_Day': 'H', 'Holiday_Sequence': 'HHW'}